.art-container-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .art-piece-horizontal {
    margin: 10px;
    flex: 0 0 calc(20% - 20px); /* Adjust the percentage as needed */
    max-width: calc(20% - 20px); /* Adjust the percentage as needed */
    text-align: center;
  }
  
  .art-piece-horizontal img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Adjust the maximum height as needed */
  }
  